@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-bg-light: #f2f2f2;
  --color-surface: #ffffff;
  --color-surface-light: #e5e5e5;
  --color-accent: #F27D26;
  --color-text-main: #111111;
  --color-text-muted: #6b7280;
  
  --font-sans: "Inter", sans-serif;
}

body {
  background-color: var(--color-bg-light);
  color: var(--color-text-main);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}
